# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/Editor specific
.idea/
.vscode/

# For mac
.DS_Store

# 01_intro_to_cnn directory ignore files
/examples/01_intro_to_cnn/logs
/examples/01_intro_to_cnn/.venv
